<div class="container justify-content-center mt-5">
    <div class="row justify-content-center">
        <div class="col-7">
            <h1 class="h1">Jose Luis Lemus</h1>
            <h3 class="text-muted"> I'm an electronic engineer and web-developer from Barranquilla, Colombia.</h3>
            <p> I’m 24 years old from Barranquilla Colombia. 

            I studied electronics engineering at Universidad del Norte in Barranquilla, graduated recently on march 15th. 
            I’m a passionate person, very communicative and I have very good
            attitude. Like learning a lot and I consider myself as a fast learner.
            Currently I’m working as a IoT software engineer. My main rol is mantain some local python services
            and design software solutions. 

            I like programming since I found myself working on an assignment for college which was
            about creating an android app, I decided that programming was all that I wanted to do.<p>
        </div>
        <div class="col-5">
            <%= image_tag 'pp.jpg', size: '400x400'%>
        </div>
        
    </div>
    <div class="row">
        <a href=""><i class="fab fa-twitter fa-2x m-1" id="twitter-icon" ></i></a>
        <a href="https://www.linkedin.com/in/jose-luis-lemus-florez-a34943164/"><i class="fab fa-linkedin fa-2x m-1" id="linkedin-icon" ></i></a>
        <a href="https://github.com/jllemus"><i class="fab fa-github fa-2x m-1" id="github-icon" id="github-icon"></i></a>
        
        
    </div>
    
</div>


