<div id="page-content">
    <div class="container" id="home-container">
        <div class="jumbotron text-center shadow" >
            <h1 class="display-4">Portfolio</h1>
            <p class="lead">This is a webpage developed in Ruby on rails to show information about me and my curriculum.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Sign up!</a>
        </div>
    </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "José Lemus", "https://www.linkedin.com/in/jose-luis-lemus-florez-a34943164/", class: "text-white" %></small>
    </div>
  </footer>