<p>
  <strong>Title:</strong>
  <%= @project_item.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @project_item.description %>
</p>

<tr>
    <tr>
        <th><%= link_to 'My projects', projects_path %></th>
    </tr>
</tr>